<?xml version="1.0"?>
<!-- This file is part of Tryton.  The COPYRIGHT file at the top level of
this repository contains the full copyright notices and license terms. -->
<tryton>
    <data>
      <record model="res.group" id="group_app_proxy_admin">
          <field name="name">App Proxy Administrator</field>
      </record>
      <record model="res.user-res.group" id="user_admin_group_app_proxy_admin">
          <field name="user" ref="res.user_admin"/>
          <field name="group" ref="group_app_proxy_admin"/>
      </record>

      <menuitem parent="ir.menu_administration"
          name="App Proxy" id="menu_app_proxy"/>

        <record model="ir.ui.view" id="app_proxy_view_tree">
            <field name="model">app.proxy</field>
            <field name="type">tree</field>
            <field name="name">app_proxy_tree</field>
        </record>
        <record model="ir.ui.view" id="app_proxy_view_form">
            <field name="model">app.proxy</field>
            <field name="type">form</field>
            <field name="name">app_proxy_form</field>
        </record>

        <record model="ir.action.act_window" id="act_app_proxy_form">
            <field name="name">App Proxy</field>
            <field name="res_model">app.proxy</field>
        </record>
        <record model="ir.action.act_window.view" id="act_app_proxy_form_view1">
            <field name="sequence" eval="10"/>
            <field name="view" ref="app_proxy_view_tree"/>
            <field name="act_window" ref="act_app_proxy_form"/>
        </record>
        <record model="ir.action.act_window.view" id="act_app_proxy_form_view2">
            <field name="sequence" eval="20"/>
            <field name="view" ref="app_proxy_view_form"/>
            <field name="act_window" ref="act_app_proxy_form"/>
        </record>
        <menuitem parent="menu_app_proxy" sequence="1"
            action="act_app_proxy_form" id="menu_app_proxy_form"/>

        <!-- Access -->
        <record model="ir.model.access" id="access_app_proxy">
            <field name="model">app.proxy</field>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="False"/>
            <field name="perm_create" eval="False"/>
            <field name="perm_delete" eval="False"/>
        </record>
        <record model="ir.model.access" id="access_app_proxy_admin">
            <field name="model">app.proxy</field>
            <field name="group" ref="group_app_proxy_admin"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="True"/>
            <field name="perm_create" eval="True"/>
            <field name="perm_delete" eval="True"/>
        </record>
    </data>
</tryton>
